@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

.login-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .upper-section{
    background: #fff;
    z-index: 10;
    border: 1px solid #DBDBDB;
    padding: 1rem;
    width: 320px;
    .title-container{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -25px;
      h1{
        font-family: 'Grand Hotel', cursive;
        font-size: 2.5rem;
      }
    }
    .login-form{
      .form-group{
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        input{
          padding: 0.7rem;
          width: 240px;
          border: 1px solid #DBDBDB;
        }
        input:focus{
          border: 1px solid #000;
        }
        button{
          width: 83%;
          padding: 0.5rem;
          margin-top: 0.8rem;
          border-radius: 3px;
          border: none;
          background-color: #0095F6;
          color: #fff;
        }
      }
    }
    .or-div{
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      .left{
        height: 1px;
        background: #DBDBDB;
        width: 90%;
        margin-right: 5px;
      }
      .right{
        height: 1px;
        background: #DBDBDB;
        width: 90%;
        margin-left: 5px;
      }
    }
    .facebook-login{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 15px;
      button{
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background: transparent;
        color: #385195;
      }
    }
    .forget-password{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 5px;
    }
    .forget-password-link{
      color: #00376b;
      text-decoration: none;
      font-size: 12px;
    }
  }
  .lower-section{
    background: #fff;
    z-index: 10;
    border: 1px solid #DBDBDB;
    margin-top: 10px;
    padding: 1rem;
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      color:#0095f6;
      font-weight: 700;
      margin-left: 5px;
      text-decoration: none;
    }
  }
}

.signup-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .upper-section{
    background: #fff;
    z-index: 10;
    border: 1px solid #DBDBDB;
    padding: 1.6rem;
    width: 320px;
    .title-container{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -25px;
      h1{
        font-family: 'Grand Hotel', cursive;
        font-size: 2.5rem;
      }
    }
    .signp-agree{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -25px;
      text-align: center;
      h2{
        color: #A5A5A5;
        font-size: 20px;
      }
    }
    .facebook-signup{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 15px;
      button{
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background:#0095F6;
        color: #fff;
        border-radius: 3px;
        width: 100%;
      }
    }
    .or-div{
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      .left{
        height: 1px;
        background: #DBDBDB;
        width: 90%;
        margin-right: 5px;
      }
      .right{
        height: 1px;
        background: #DBDBDB;
        width: 90%;
        margin-left: 5px;
      }
    }
    .signup-form{
      margin-right: 17px;
      input{
        padding: 0.5rem;
        width: 240px;
        border: 1px solid #DBDBDB;
        width: 100%;
        margin-top: 5px;
      }
      input:focus{
        border: 1px solid #000;
      }
      button{
        width: 106%;
        padding: 0.5rem;
        margin-top: 0.8rem;
        border-radius: 3px;
        border: none;
        background-color: #0095F6;
        color: #fff;
      }
    }
    .agreements{
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      h2{
        color: #A5A5A5;
        font-size: 15px;
      }
    }
  }
  .lower-section{
    background: #fff;
    z-index: 10;
    border: 1px solid #DBDBDB;
    margin-top: 10px;
    padding: 1.6rem;
    width: 320px;    
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      color:#0095f6;
      font-weight: 700;
      margin-left: 5px;
      text-decoration: none;
    }
  }
}

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  position: static;
  border-bottom: 1px solid #DBDBDB;
  .home-container{
    padding: 12px;
    font-family: 'Grand Hotel', cursive;
    font-size: 30px;
    font-weight: 550;
    margin-left: 10px;
    a{
      text-decoration: none;
      color: #DBDBDB;
    }
    a.active{
      color: #000;
    }
  }
  .search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    input{
      padding: 5px;
      min-width: 200px;
      border: 1px solid #DBDBDB;
      border-radius: 2px;
      background-color: #FAFAFA;
    }
    ::placeholder{
      color: #A5A7AA;
      text-align: center;
    }
    input[type="text"]:active{
      border:none;
    }
  }
  .right-link-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -70px;
    a{
      text-decoration: none;
      color: #DBDBDB;
      margin-left: 10px;
      margin-right: 10px;
    }
    a.active{
      color: #000;
    }
    button{
      background-color: transparent;
      border:none;
    }
  }
}

#popover-positioned-bottom{
  border: 1px solid #DBDBDB;
  z-index: 50;
  background-color: #fff;
  top: 10px;
  border-radius: 5px;
  min-width: 200px;
  .link-container{
    a{
      color: #000;
      padding:10px;
      display: flex;
      align-items: center;
      text-align: center;
      text-decoration: none;
      span{
        margin-left: 10px;
      }
    }
    a:hover {
      background-color: #DBDBDB;
    }
    button{
      border-top: 1px solid #dbdbdb;
      border:none;
      background-color:transparent;
      padding:10px;
    }
    button:hover{
      background-color: #DBDBDB;
    }
  }
}

.add-post{
  margin-top:20px !important;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  background-color: #fff;
  border: 1px solid #DBDBDB;
  min-width: 500px;
  min-height: 300px;
  .add-post-form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    input{
      padding: 15px;
      margin-bottom: 10px;
      border: 1px solid #DBDBDB;
    }
    button{
      padding: 8px;
      border-radius: 30px;
      border: none;
      background-color: #4285F4;
      color: #fff;
      margin-top: 30px;
    }
  }
}

.message-container{
  margin-top:20px;
  background-color: #fff;
  border: 1px solid #DBDBDB;
  min-width: 900px;
  min-height: 500px;
  border-radius: 10px;
  .left-container{
    width: 30%;
    border-right: 1px solid #DBDBDB;
    .contact-list{
      min-height: 100%;
      list-style: none;
    }
  }
  .right-container{
    width: 70%;
  }
}

.post-container{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-item{
  border: 1px solid #DBDBDB;
  margin-top: 15px;
  margin-bottom: 5px;
  .top-link-profile{
    padding: 10px;
    a{
      text-decoration: none;
      padding: 5px;
      img{
        border-radius: 50%;
      }
    }
  }
  .icons-container{
    margin-top:10px;
    margin-left: 5px;
    display: flex;
    justify-content: space-between;
    button{
      border:none;
      background: transparent;

      margin-right: 5px;
    }
  }
  .likes-container{
    margin-left: 8px;
  }
  .caption-container{
    margin-left: 8px;
    display: flex;
    .postedBy-fullName{
      font-weight: 600;
    }
    .caption{
      margin-left: 8px;
    }
  }
  .post-comments{
    margin-left: 8px;
  }
  .add-comments{
    display: flex;
    border-top: 1px solid #DBDBDB;
    button{
      padding: 10px;
      border: none;
      background: transparent;
    }
    textarea{
      padding: 10px;
      width: 100%;
      border: none;
    }
  }
  .timestamp{
    margin-left: 8px;
    font-weight: 600;
  }
}

.profile-container{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .profile-info{
    display: flex;
  }
}

#AddImageModal{

}


